<?xml version="1.0"?>
<!-- 
  This 'WCF Service Application' provides 
    1) a WCF Test Host (on the ASP.net Development Server   
                        at http://localhost:8080/Zen )
  Once the services are tested and ready to deploy we can copy relevent 
  portions of this config directly to a real IIS host. 
-->
<configuration>
  
  <system.serviceModel>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      
      <!-- use fileless activation - removes the need for .svc files -->
      <serviceActivations>        
        <clear />
        
        <add relativeAddress="./DiscoveryProxy.svc"
             service="Zen.Svcs.DiscoveryProxySvc, Zen.Svcs"
             factory="Zen.Svcs.IocHostFactory, Zen.Svcs" />
        
        <add relativeAddress="./RemoteFacade.svc"
             service="Zen.Svcs.RemoteFacadeSvc, Zen.Svcs"
             factory="Zen.Svcs.IocHostFactory, Zen.Svcs" />              
      </serviceActivations>
      
    </serviceHostingEnvironment>

    <services>
      <!-- don't think we need this either... -->
      <service name="Zen.Svcs.DynamicRouter.DiscoveryProxySvc">
        
        <endpoint name="announcementEndpoint"
                  kind="announcementEndpoint" isSystemEndpoint="false"
			            binding="netTcpBinding" 
                  bindingConfiguration="NetTcpBindingConfiguration"/>
        <endpoint name="discoveryEndpoint"
                  kind="discoveryEndpoint" isSystemEndpoint="false"
			            binding="netTcpBinding" 
                  bindingConfiguration="NetTcpBindingConfiguration"/>
      </service>

    </services>
    
    <behaviors>
      <serviceBehaviors>
        
        <behavior>          
          <serviceMetadata httpGetEnabled="true"/>      
          <serviceDebug includeExceptionDetailInFaults="false"/>
          
          <serviceDiscovery>
            <announcementEndpoints>
              <!-- In WCF 4.0, by putting a service behavior without a 
                   name all services will use this behavior by default -->
              <!-- ad-hoc discovery endpoint, 
                   telling the service that it should use UDP to 
                   broadcast when the service is going up and down. 
                   The router will need to listen to these broadcasts 
                   to know when new services are added or removed.-->
              <endpoint kind="udpAnnouncementEndpoint" />
              <!-- endpoint pointing to the discovery proxy, 
                   telling the services to register their addresses 
                   with the discovery proxy running at this address. -->
              <endpoint name="ZenAnnouncementEndpoint"
                        kind="announcementEndpoint"
                        address="net.tcp://localhost/Zen/DynamicRouter/DiscoveryProxy.svc"
                        bindingConfiguration ="NetTcpBindingConfiguration"
                        binding="netTcpBinding"/>
            </announcementEndpoints>
          </serviceDiscovery>
        </behavior>
        
      </serviceBehaviors>    
    </behaviors>

    <bindings>
      <!-- not sure that we need to specify all these settings...or that we even need this? -->
      <netTcpBinding>
        <binding name="NetTcpBindingConfiguration" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
                 maxBufferPoolSize="2147483647" maxBufferSize="2147483647" transferMode="Buffered" maxReceivedMessageSize="2147483647" transactionFlow="true"
                 hostNameComparisonMode="StrongWildcard" portSharingEnabled="false" maxConnections="15" listenBacklog="15">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
          </security>
        </binding>
      </netTcpBinding>

    </bindings>
    
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <!--  
  <system.webServer>
  The system.webServer section is required for running ASP.NET AJAX under Internet
  Information Services 7.0. It is not necessary for previous version of IIS.  
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer> 
  -->
  
</configuration>
