<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="wsHttp-BaseAddress" value="http://127.0.0.1:1010/Zen/SecureSignon"/>
    <add key="netTcp-BaseAddress" value="net.tcp://127.0.0.1:2020/Zen/SecureSignon"/>
    <add key="netPipe-BaseAddress" value="net.pipe://localhost/Zen/SecureSignon"/>
    <!--
    <add key="netMsmq-BaseAddress" value=""/>
    <add key="netMsmq-QueueName" value=""/>
    -->
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
