<?xml version="1.0"?>
<configuration>

  <appSettings>

    <add key="QuartzCnn"
         value=" Data Source=localhost\SQLEXPRESS; Initial Catalog=QuartzDb; Integrated Security=True; Pooling=False"/>
    <!--<add key="QuartzCnn"
         value=" Data Source=DEV1SERV\DEVSQL; Initial Catalog=Temp_DZS; User ID=Probe2Svc; Password=Ab12345678; Pooling=False" />-->
  </appSettings>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>

  <system.serviceModel>

    <services>
      
      <service name="Zen.QZ.Svcs.AppFacadeSvc">
        <host>
          <baseAddresses>
           <add baseAddress="http://localhost:8080/Zen.QZ"/>
          </baseAddresses>
        </host>

        <!-- Service Endpoints - Unless fully qualified, address is relative to base address supplied above -->

        <!-- talk to IIS -->
        <endpoint address="AppFacadeSvc" 
                  binding="wsHttpBinding" 
                  contract="Zen.QZ.Svcs.IAppFacadeSvc">
        </endpoint>
        
        <!-- publish my contract metadata via WSDL -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
