<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This file must be renamed to Zen.QZ.Shelf.config -->
  <configSections>
    <section name="ShelfConfiguration" type="Topshelf.Shelving.ShelfConfiguration, TopShelf" />
  </configSections>
  <ShelfConfiguration Bootstrapper="Zen.QZ.Shelf.ShelvedSchedulerServer, Zen.QZ.Shelf" />

  <appSettings>
    <!-- <add key="" value="" /> -->
  </appSettings>
</configuration>